.features {
	display: flex;
	flex-flow: wrap;

	.feature {
		margin-right: 0.5em;
		font-size: 1em;
		line-height: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			color: $color1;
		}

		svg {
			max-width: 1em;
		}

		path {
			fill: $color1;
		}

		span.text {
			text-transform: uppercase;
			font-size: 0.7em;
			margin-left: 0.5em;
		}

		// .icon {
		// 	font-style: normal;
		// }

		// i.icon::after {
		// 	font-family: 'Font Awesome 5 Free';
		// 	font-weight: 700;
		// }

		// i.icon-air-conditioning::after {
		// 	content: '\f2dc';
		// 	font-weight: normal;
		// }
		// i.icon-car::after {
		// 	content: '\f1b9';
		// }
		// i.icon-coffee::after {
		// 	content: '\f0f4';
		// }
		// i[class*='icon-people']::after {
		// 	content: '\f007';
		// }
		// i.icon-shower::after {
		// 	content: '\f2cc';
		// }
		// i.icon-wifi::after {
		// 	content: '\f1eb';
		// }
		// i.icon-hair-dryer::after {
		// 	content: '';
		// 	background-image: url('../images/icon-hair-dryer.svg');
		// 	background-position: center;
		// 	background-size: contain;
		// }
	}
}
