.hero {
	background-position: center;
	background-size: cover;
	min-height: 55vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	h2 {
		margin: 0;
		position: relative;
		z-index: 1;
		font-family: $font-heading;
		font-size: 2em;
		font-weight: normal;
		color: white;
		text-align: center;

		@media screen and (min-width: 40em) {
			font-size: 2.65em;
		}
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-color: $dark;
		opacity: 0.25;
	}
}
