/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/

/* Base nav styling */
nav a {
	color: white;
	font-size: 1.5em;
	margin: 0;
	padding: 0.5em 1em;
	display: block;
	transition: color 0.3s ease;
}

nav button {
	box-shadow: none;
	border: 1px solid rgba($dark, 0.3);
}

nav li {
	border-bottom: 1px solid rgba($dark, 0.3);
}

nav .children li:last-child {
	border-bottom: 1px solid transparent;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.main-navigation {
	background: $color1;
	clear: both;
	display: block;
	padding: 2em 0;

	position: fixed;
	z-index: 9999;
	top: 0;
	left: -100vw;
	bottom: 0;
	width: 100vw;
	max-width: 48em;
	transition: left 0.3s ease;
}

.main-navigation.toggled {
	left: 0;
}

.main-navigation a {
	color: white;
	margin: 0;
	text-align: left;
	padding: 8px;
}

.main-navigation a:hover {
	color: white;
	text-shadow: 2px 2px 2px rgba(44, 46, 46, 0.86);
}

.main-navigation li a:hover {
	background: white;
	color: #0f81a4;
	text-shadow: none;
}

@media screen and (min-width: 769px) {
	.menu-toggle {
		position: absolute;
		bottom: 1em;
		right: 1em;
	}
}

@media screen and (max-width: 768px) {
}
