@import '../global/utilities.scss';

.page-header {
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	padding: 4em 0;

	.page-title {
		@extend %container;

		color: white;
		font-size: 2em;
	}
}
