.rooms {
	padding: 4em 0;
	background-image: url('../images/bg.svg');
	background-color: $light;
	background-size: 1000px;
	background-position: -750px center;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;

	.container {
		position: relative;
		z-index: 1;

		display: flex;
		flex-flow: wrap;

		& > article {
			margin: 1em;
			width: calc(100% - 2em);

			@media (min-width: 35em) {
				width: calc(50% - 2em);
			}

			@media screen and (min-width: 56em) {
				margin: 1.5em;
				width: calc(33.33% - 3em);
			}
		}
	}

	#bg {
		display: block;
		height: auto;
		position: absolute;
		top: -90px;
		right: -150px;
		z-index: 0;
		width: 600px;

		.ll {
			fill: $gray;
		}
		.lr,
		.rl {
			fill: white;
		}
		.tl {
			fill: $color1;
		}
		.tr {
			fill: $color3;
		}
		.bl,
		.br {
			fill: $light;
		}
	}
}

@import 'components/slider.scss';
@import 'components/features.scss';
.room {
	background-color: white;
	box-shadow: 0 0 1.5em 0 rgba($dark, 0.5);
	padding: 1em;
	display: flex;
	flex-flow: column;

	.slider {
		margin: -1em -1em 1em;

		.slide {
			height: 20vh;
		}
	}

	.title {
		font-weight: 300;
		text-transform: uppercase;
	}

	.features {
		.feature {
			.text {
				font-size: 1em;
				color: $color1;
			}

			i:not([class*='icon-people']) + .text {
				display: none;
			}
		}
	}

	.excerpt {
		flex: 1 auto;
		margin-bottom: 0.75em;
	}

	.link {
		@extend %btn;
		margin-top: 0.5em;
		margin-right: 1em;
		width: 145px;
	}

	.book {
		@extend %btn-filled;
	}
}
