.top-actions {
	a {
		color: $dark;
		margin-left: 2em;

		.text {
			margin-left: 0.5em;
		}
	}

	.tel {
		font-weight: 700;
	}
}

.site-header {
	background-color: white;

	.menu-toggle {
		position: absolute;
		bottom: 1em;
		right: 1em;
	}

	.menu-toggle-inner,
	.menu-toggle-inner::before,
	.menu-toggle-inner::after {
		background-color: $dark;
	}

	.container {
		display: flex;
		justify-content: center;
	}

	.top-actions {
		font-size: 1.5em;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		display: flex;
		flex-flow: column;
		bottom: 0;

		a {
			text-decoration: none;
			margin-left: 0;
			display: flex;
			align-items: center;
			height: 50%;
			padding: 1em;
			background-color: $color1;

			&:first-child {
				border-bottom: 1px solid white;
			}
		}

		@media screen and (max-width: 39.99em) {
			.text {
				@import '../global/accessibility.scss';
				@include sr-only;
				// display: none;
			}
		}
	}

	@media screen and (min-width: 40em) {
		.container {
			justify-content: flex-start;
		}

		.top-actions {
			font-size: 0.8em;
			top: 0.5em;
			right: 2em;
			left: auto;
			flex-flow: wrap;
			bottom: auto;

			a {
				background-color: white;
			}

			.text {
			}
		}

		.site-branding {
		}

		.menu-toggle {
			// bottom: -0.5em;
			right: 1.5em;
		}
	}
}

.site-branding {
	margin: 1em 0;
	width: 10em;

	& img,
	& a {
		display: block;
		margin: 0 auto;
	}
}

.site-title {
	margin: 0;
}

@media screen and (max-width: 64em) {
	.site-header {
		.main-navigation {
			position: fixed;
			top: 0;
			bottom: 0;
			overflow: auto;
			right: -24em;
			width: 24em;
			z-index: 9999;

			&.toggled {
				right: 0;
			}
		}
	}
}
