.site-footer {
	background-color: white;
	color: $dark;
	margin-top: 2em;
	min-height: 120px;

	a {
		color: $color2;

		&:hover {
			text-shadow: 2px 2px 2px $gray;
		}

		&[href*='facebook'] {
			margin-right: 0.5em;
		}
	}

	h4 {
		border-bottom: 1px solid $color1;
		padding-bottom: 0.5em;
		text-transform: uppercase;
	}

	.container {
		display: flex;
		flex-flow: wrap;

		& > div {
		}
	}

	.site-about {
		flex: 2 1 340px;
		margin-right: 2em;
	}

	.site-contact {
		flex: 1 1 260px;

		p {
			margin-top: 0;
			margin-bottom: 0.5em;
		}
	}

	.site-credits {
		text-align: right;
		margin-left: 2em;
	}

	.site-info {
		background-color: $color2;
		padding: 1em 0;
		width: 100%;
		color: white;
		margin-top: 2em;
		a {
			color: white;
		}
	}
}

.footer-navigation {
	text-align: right;
}

.footer-navigation .menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer-navigation li {
	display: inline-block;
}

.footer-navigation a {
	display: block;
	font-size: 15px;
	margin: 0 0 0 16px;
	padding: 0;
}
