.slider {
	position: relative;

	.slide-img {
		display: block;
		object-fit: cover;
		width: 100%;
	}

	.slide {
		display: flex;
		background-color: white;
	}

	.controls {
		bottom: 0;
		display: flex;
		left: 3px;
		position: absolute;
		right: 3px;
		z-index: 1;

		button {
			cursor: pointer;
			display: block;
			text-indent: -9999px;
			margin: 6px 3px;
			flex: 1 auto;
			height: 6px;
			border-radius: 0;
			border: none;
			background-color: white;

			&.current {
				background-color: $color1;
			}
		}
	}

	.arrow {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		visibility: hidden;
		z-index: 10;
		height: 2em;
		width: 2em;
		padding: 0;
		margin: 0;

		&::after {
			border: 1px dashed $dark;
			color: $dark;
			display: block;
			content: '\f053';
			font-family: 'icomoon';
			visibility: visible;
			line-height: 2em;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;
			height: 2em;
			width: 2em;
			opacity: 0.7;
			cursor: pointer;
		}

		&:hover::after {
			opacity: 1;
		}

		&.next {
			left: auto;
			right: 0;

			&::after {
				content: '\f054';
			}
		}
	}
}
