// @import 'variables';

@font-face {
	font-family: '#{$icomoon-font-family}';
	src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?qsca3w')
			format('truetype'),
		url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?qsca3w')
			format('woff'),
		url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?qsca3w##{$icomoon-font-family}')
			format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

i {
	font-family: '#{$icomoon-font-family}';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-swimmer {
	&:before {
		content: $icon-swimmer;
	}
}
.icon-utensils {
	&:before {
		content: $icon-utensils;
	}
}
.icon-hair-dryer {
	&:before {
		content: $icon-hair-dryer;
	}
}
.icon-heart {
	&:before {
		content: $icon-heart;
	}
}
.icon-user,
.icon-people,
i[class*='icon-people'] {
	&:before {
		content: $icon-user;
	}
}
.icon-chevron-left {
	&:before {
		content: $icon-chevron-left;
	}
}
.icon-chevron-right {
	&:before {
		content: $icon-chevron-right;
	}
}
.icon-facebook,
.icon-facebook-square {
	&:before {
		content: $icon-facebook-square;
	}
}
.icon-phone {
	&:before {
		content: $icon-phone;
	}
}
.icon-envelope {
	&:before {
		content: $icon-envelope;
	}
}
.icon-coffee {
	&:before {
		content: $icon-coffee;
	}
}
.icon-instagram {
	&:before {
		content: $icon-instagram;
	}
}
.icon-automobile {
	&:before {
		content: $icon-automobile;
	}
}
.icon-car {
	&:before {
		content: $icon-car;
	}
}
.icon-wifi {
	&:before {
		content: $icon-wifi;
	}
}
.icon-shower {
	&:before {
		content: $icon-shower;
	}
}
.icon-snowflake-o,
.icon-air-conditioning {
	&:before {
		content: $icon-snowflake-o;
	}
}
