html {
	box-sizing: border-box;

	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
}

body {
	margin: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
}
blockquote,
q {
	quotes: '' '';
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul,
ol {
	// margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
svg {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
blockquote {
	margin: 1em 2em;
	font-size: 1.1rem;
	font-family: $font1;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: 'Courier 10 Pitch', Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

embed,
iframe,
object {
	max-width: 100%;
}
