/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html,
body,
button,
input,
select,
textarea {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: $dark;
	font-family: $font1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: $color2;
	line-height: 1.2;
}

h1,
h2 {
	font-family: $font-heading;
	font-weight: normal;
	color: $color1;
	margin-bottom: 0.6em;
	line-height: 1.4em;
}

p {
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color1;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: $color2;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
