/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
%clear {
	&::before,
	&::after {
		content: '';
		display: table;
		table-layout: fixed;
		clear: both;
	}
}

%container {
	padding: 0 1rem;
	position: relative;
	width: 100%;

	@media screen and (min-width: 48rem) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@media screen and (min-width: 68rem) {
		max-width: 68rem;
		margin: 0 auto;
	}

	@media screen and (min-width: 70rem) {
		padding-left: 0;
		padding-right: 0;
	}
}

%btn {
	background-color: white;
	display: inline-block;
	padding: 0.5em 0.75em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	border: 1px solid $color1;
	transition-property: background, color, border;
	transition-duration: 0.3s;
	transition-timing-function: ease;

	&%btn-filled {
		background-color: $color1;
		color: white;
	}

	&%btn-dark {
		background-color: $color2;
		color: white;
		border-color: $dark;
	}

	&:hover {
		background-color: $light;
		color: $color2;
		border-color: $color2;
		text-decoration: none;
	}
}

%full-width {
	max-width: 100vw;
	margin-left: -1rem;
	margin-right: -1rem;

	@media screen and (min-width: 48rem) {
		margin-left: -2rem;
		margin-right: -2rem;
	}

	@media screen and (min-width: 68rem) {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		padding-left: calc(50vw - 50%);
		padding-right: calc(50vw - 50%);
	}
}
