// Colors.
$color1: #bc9b6a;
$color2: #2b3237;
$color3: #decdb5;
$light: #ededed;
$gray: #a7a9ac;
$dark: #2b3237;

// Fonts.
$font1: montserrat, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
	'Lucida Sans', Arial, sans-serif;
$font2: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-heading: kremlin-pro-semi-exp, -apple-system, BlinkMacSystemFont,
	'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
	sans-serif;

$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'fonts' !default;

$icon-swimmer: '\e902';
$icon-utensils: '\e901';
$icon-hair-dryer: '\e900';
$icon-heart: '\f004';
$icon-user: '\f007';
$icon-chevron-left: '\f053';
$icon-chevron-right: '\f054';
$icon-facebook-square: '\f082';
$icon-phone: '\f095';
$icon-envelope: '\f0e0';
$icon-coffee: '\f0f4';
$icon-instagram: '\f16d';
$icon-automobile: '\f1b9';
$icon-car: '\f1b9';
$icon-wifi: '\f1eb';
$icon-shower: '\f2cc';
$icon-snowflake-o: '\f2dc';
