/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #e6e6e6;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
		inset 0 15px 17px rgba(255, 255, 255, 0.5),
		inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
		inset 0 15px 17px rgba(255, 255, 255, 0.5),
		inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
	border-color: #ccc #bbb #aaa;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8),
		inset 0 15px 17px rgba(255, 255, 255, 0.8),
		inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8),
		inset 0 15px 17px rgba(255, 255, 255, 0.8),
		inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus,
button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
	border-color: #aaa #bbb #bbb;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5),
		inset 0 2px 5px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5),
		inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
	color: #666;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
select {
	border: 1px solid #ccc;
}
input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='range']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='time']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='color']:focus,
textarea:focus {
	color: #111;
}
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'] {
	padding: 3px;
}
textarea {
	padding-left: 3px;
	width: 100%;
}
