@media (min-width: 64em) {
	.site-header .menu-toggle {
		display: none;
	}

	nav ul {
		display: flex;
	}

	nav a {
		text-align: center;
	}

	.menu-item-has-children,
	.page_item_has_children {
		display: block;
		position: relative;
	}

	.sub-menu-toggle {
		display: none;
	}

	.sub-menu,
	.children {
		flex-flow: column;
		background-color: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 100%;
		z-index: 999;
	}

	.menu-item-has-children:hover > .sub-menu,
	.page_item_has_children:hover > .children {
		max-height: 50vh;
		width: auto;
		width: max-content;
	}

	.main-navigation {
		position: static;
		max-width: none;
		padding: 0 1em;
	}

	.main-navigation .menu {
		margin: 0 auto;
		max-width: 1000px;
	}
}
