/* Base sub menus styling */
.menu-item-has-children,
.page_item_has_children {
    display: flex;
    flex-flow: wrap;
}

.menu-item-has-children > a,
.page_item_has_children > a {
    flex: 1;
}

.sub-menu,
.children {
    background: rgba(255, 255, 255, 0.1);
}
.sub-menu a,
.children a {
    padding-left: 1em;
}
.sub-menu .sub-menu a,
.children .children a {
    padding-left: 1.5em;
}
.sub-menu .sub-menu .sub-menu a,
.children .children .children a {
    padding-left: 2em;
}

.menu-item-has-children > .sub-menu,
.page_item_has_children > .children {
    width: 100%;
    max-height: 0vh;
    overflow: hidden;
    transition: max-height 0.3s ease;
    will-change: height;
}

.sub-menu-toggle {
    color: #fff;
    cursor: pointer;
    padding: 0.5em 1em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    background: none;
    border-radius: 0;
}

.sub-menu-toggle:hover {
    background: #0081c5;
}

.sub-menu-toggle:focus,
.sub-menu-toggle:active {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
    background: #0081c5;
}
.sub-menu-toggle::before {
    content: '\2b';
}

.sub-menu-open > .sub-menu-toggle::before {
    content: '\2212';
}

.menu-item:not(.menu-item-has-children) > .sub-menu-toggle,
.page_item:not(.page_item_has_children) > .sub-menu-toggle {
    display: none;
}

.sub-menu-open > .sub-menu,
.sub-menu-open > .children {
    max-height: 50vh;
}
