@import 'global/variables.scss';
@import 'components/hero.scss';
@import 'components/features.scss';

.home {
	.site-main {
		position: relative;
	}

	.site-main > .features {
		justify-content: center;
		padding: 0.5rem 2em;
		position: absolute;
		top: 55vh;
		transform: translate(0, -100%);
		z-index: 1000;
		background-color: rgba(white, 0.75);
		width: 100%;

		.feature {
			flex: 1 auto;
			margin: 0.25em;
		}

		i {
			font-size: 1.5em;
		}

		@media screen and (min-width: 40rem) {
			font-size: 1.5em;
		}
	}
}

@import 'components/page-header.scss';

@import 'components/section-rooms.scss';

/******************************************************************

	Section - Availability and Rates

******************************************************************/
@import 'components/slider.scss';
.availability-rates {
	background-image: url('../images/bg.svg');
	background-repeat: no-repeat;
	background-position: right 55vw center;
	background-size: calc(65%);
	padding: 4em 0;
	position: relative;

	h2 {
		color: $dark;
		margin-top: 0;
		font-size: 2.65em;
		margin-bottom: 0;
	}

	.container {
		display: grid;
		grid-template-areas: 'title title title' 'rates rates rates' 'trip test test';
		grid-column-gap: 1.5em;
		grid-row-gap: 2em;
		grid-auto-columns: 1fr;

		h2 {
			grid-area: title;
		}

		@media (min-width: 56rem) {
			grid-template-areas: 'title title title title' 'rates rates rates trip' '. . test test';
		}
	}

	.booking-widget {
		grid-area: rates;
	}

	.tripadvisor-logo {
		grid-area: trip;
		text-align: center;
	}

	.testimonials {
		grid-area: test;
		border-top: 1px solid $color1;
		padding: 2em 0;
		text-align: center;

		@media (max-width: 50rem) {
			padding: 1em 0;

			h2 {
				font-size: 1.4em;
			}

			blockquote {
				margin-left: 0;
				margin-right: 0;
				font-size: 0.85em;
			}
		}
	}

	&::before {
		content: '';
		height: 4em;
		width: calc(100% - 102px);
		position: absolute;
		top: -2em;
		z-index: 10;
		left: 0;
		background-color: white;
		background-image: url('../images/bg-white.jpg');
		background-position: left top;
	}
}

.booking-widget {
	#BE_Widget {
		padding: 0;

		@media (min-width: 35rem) {
			form {
				display: flex;
				flex-wrap: wrap;
				align-items: baseline;

				& > div {
					margin: 0 1em 1em 0;
					width: calc(50% - 1em);
				}
			}
		}

		@media (min-width: 40rem) {
			form {
				justify-content: flex-end;
				align-items: center;

				& > div:not(.checkbox_div) {
					margin-right: 0;
					margin-left: 1em;
					width: calc(33.33% - 1em);
				}

				a#booking_btn {
					margin-top: 0;
					margin-bottom: 1em;
				}
			}
		}

		@media (min-width: 56rem) {
			form {
				padding-right: 2em;
			}

			div.CheckInDiv,
			div.CheckOutDiv,
			div.guestPickerDivWrap {
				max-width: none;
			}

			.checkbox_div {
				max-width: 160px;
				margin-right: 1em;
				width: auto;
			}
		}
	}

	label,
	#BE_Widget label.label-title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.75em;
	}

	input,
	#BE_Widget .CheckInDiv input,
	#BE_Widget .CheckOutDiv input,
	#BE_Widget .guestPickerDivWrap .guestPickerInput {
		border: 1px solid $dark;
		border-radius: 0;
		background-color: rgba(white, 0.75);
	}

	input[type='submit'],
	#BE_Widget .BookNow {
		@extend %btn;
		@extend %btn-dark;

		border-radius: 0;
		float: right;
		width: auto;
	}
}

.testimonials {
	h2 {
		color: $color1;
	}

	@import './molecules/testimonial.scss';
}

.highlights {
	background-color: $light;
	padding: 4em 0;

	.container {
		display: flex;
		flex-flow: wrap;
		position: relative;
		z-index: 2;

		& > div {
			margin: 1.5em;
			width: calc(33.33% - 3em);
			box-shadow: 0 0 1.5em 0 rgba($dark, 0.5);
			background-color: white;
		}
	}

	.slider .controls {
		top: calc(20vh - 1em);
		bottom: auto;
	}

	.highlight {
		img {
			height: 20vh;
			object-fit: cover;
			width: 100%;
		}

		h3 {
			background-color: $color2;
			color: white;
			text-transform: uppercase;
			font-weight: 300;
			padding: 0.75em 1.25em;
			float: left;
			margin-top: -2em;
			margin-bottom: 0;
			position: relative;
			z-index: 1;
		}

		.text {
			padding: 1.5em;
			font-size: 0.9em;

			h4 {
				margin-top: 1em;
				margin-bottom: 0.5rem;
			}

			p {
				margin: 0;
			}
		}
	}

	position: relative;
	overflow: hidden;
	.bg {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%) scale(-1, -1);
		z-index: 0;
		left: 55%;
		width: 75vw;
		height: 100%;
	}
}

@import 'components/slider.scss';

.map {
	height: 40vh;
	width: 100%;
	overflow: hidden;

	img {
		object-position: center;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}

@import 'vendor/jquery-ui.scss';
