@import 'global/variables.scss';

// Add styles for critical css here.
// @critical {
// Import normalize through postcss plugin.
@import-normalize;

@import 'global/resets.scss';
@import 'global/accessibility.scss';
@import 'global/utilities.scss';
@import 'global/typography.scss';
$icomoon-font-path: '../fonts/';
@import 'global/fonts.scss';

/* Make footer sit at the bottom */
#page {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	overflow-x: hidden;

	& > * {
		max-width: 100vw;
	}
}
body.admin-bar #page {
	min-height: calc(100vh - 32px);
}

@import 'atoms/container.scss';

// }

body:not(.home) #page .site-main {
	@extend %container;
}

@import 'vendor/wordpress.scss';

@import 'molecules/menu-toggle.scss';
@import 'molecules/sub-menu-toggle.scss';

@import 'components/main-navigation.scss';

@import 'components/section-rooms.scss';
.entry-content .rooms {
	@extend %full-width;
}

@import 'components/site-header.scss';
@import 'components/site-footer.scss';
