@import 'global/variables.scss';
@import 'global/utilities.scss';
@import 'global/accessibility.scss';

.entry-header {
	@extend %full-width;

	background-color: $gray;
	padding-top: 2em;
	padding-bottom: 2em;

	h1 {
		@extend %container;
		color: white;
	}
}

.slider {
	.controls {
		button {
			width: 60px;
		}
	}
}

.features {
	margin: 2em 0;

	.feature {
		font-size: 1.4em;
	}

	.text {
		@include sr-only;
	}
}

@media screen and (min-width: 48rem) {
	article.accommodation {
		display: grid;
		grid-template-areas:
			'header header'
			'slider content'
			'features content'
			'details content';
		grid-column-gap: 2em;
		grid-template-rows: auto auto auto 1fr;

		.entry-header {
			flex: 1 100%;
			grid-area: header;
			margin-bottom: 2em;
		}

		.slider {
			grid-area: slider;
		}

		.features {
			grid-area: features;
		}

		.key-details {
			grid-area: details;
		}

		.entry-content {
			grid-area: content;
		}
	}
}

@media screen and (min-width: 64rem) {
	article.accommodation {
		grid-template-areas:
			'header header header'
			'slider slider actions'
			'content content features'
			'content content details';
	}

	.room-actions {
		grid-area: actions;
	}
}

.room-actions {
	h4 {
		margin-top: 0;
	}
}

.widget-reservation-box {
	background-color: $color2;
	color: white;
	padding: 2em;
	max-width: 340px;

	.room-price-widget {
		border: 1px solid white;
		position: relative;
		margin-bottom: 2em;
	}

	.from {
		margin: 0;
		position: absolute;
		top: -0.5em;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: $color2;
		padding: 0 1em;
		line-height: 1em;
	}

	.price {
		margin: 2rem 1rem;
		font-size: 3em;
		color: white;
		text-align: center;
	}

	.price-detail {
		margin: 0;
		position: absolute;
		bottom: -0.5em;
		line-height: 1em;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: $color2;
		padding: 0 1em;
	}

	a {
		@extend %btn;
		background-color: $color1;
		color: white;
		display: block;
		margin: 0 auto;
		width: 140px;
	}
}
